<!DOCTYPE html>
<html>
<head>
  <title>Pheenix Game Studios LLC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <!--<li><a href="/contact">Contact</a></li>-->
    </ul>
    <img src="/img/logo_main.png">
  </div>

  <div>
    <h1>That's nice, but who exactly are you?</h1>
    <br>
    <img src="/img/SLC_banner01.gif">
    <h4>
      Pheenix is a group of developers dedicated to providing high-quality games to the masses, as our tagline states. Located in beautiful and historic Salt Lake City, UT, we take great pride in
      continuing to thrive in the bustling economy at the heart of Silicon Alley along the Wasatch Front. We love games, but we love to make them even more! We love to participate in the
      Independent game development scene and we'd like to think we make meaningful contributions to that scene. See our <a href="/projects">Projects</a> page for more details.
    </h4>
  </div>

  <div class="footer">
    <p>&copy; Pheenix Game Studios, LLC 2006-2015</p>
    <p>Image of SLC skyline pulled from wikimedia commons. <a href="http://en.wikipedia.org/wiki/Salt_Lake_City#/media/File:Salt_Lake_City_montage_19_July_2011.jpg">HERE</a></p>
  </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/vendor/jquery-1.9.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>