<!DOCTYPE html>
<html>
<head>
  <title>Pheenix Game Studios LLC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="active"><a href="/projects">Projects</a></li>
      <!--<li><a href="/contact">Contact</a></li>-->
    </ul>
    <img src="/img/logo_main.png">
  </div>

  <div>
    <h2>Here is a list of some of our current and past projects</h2>
    <br>
    <h3>Armorcide</h3>
    <div class="row">
      <div class="col-md-4">
        <img src="/img/armorcide_logo_flat.png" width="300px" style="vertical-align: middle">
      </div>
      <div class="col-md-7">
        <p>
          A fast-paced, multiplayer tank vs tank game for arcades that calls back to an era where gaming was simpler. Take the controls and battle your friends
          to see who is the last one standing. Project is currently in development and is anticipated to be released later this year or early next year.
        </p>
      </div>
    </div>

    <br>

    <h3>Bent</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="/img/bent_screenie.jpg" width="300px" style="vertical-align: middle">
      </div>
      <div class="col-md-7">
        <p>
          We participated in the Global Game Jam and created a small game to demonstrate our artistic skills. Bent is a game of balance. You must dynamically adjust for
          changes in the environment and strategically avoid traps and pitfalls to maintain a balance between to opposing forces.
          for more details.
          <p><a class="btn btn-primary" href="http://archive.globalgamejam.org/2011/damaged-shipping-bent" role="button">View details &raquo;</a></p>
        </p>
      </div>
    </div>

    <br>

    <h3>Tank Raige Arena</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="/img/tra_screenie.png" width="300px" style="vertical-align: middle">
      </div>
      <div class="col-md-7">
        <p>
          Tank Raige Arena has been in development for many years. We have been iterating on it and improving it over time. We have had several private betas and
          have it at a state that is fairly complete. The following button will take you to one of the earlier betas for your perusal.
          <p><a class="btn btn-primary" href="http://pgs.9f.com" role="button">View details &raquo;</a></p>
        </p>
      </div>
    </div>

    <br>
  </div>

  <div class="footer">
    <p>&copy; Pheenix Game Studios, LLC 2006-2015</p>
  </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/vendor/jquery-1.9.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>